body {
  padding-top: 50px; }
  body.light {
    background-color: yellow; }

.starter-template {
  padding: 40px 15px;
  text-align: center; }

.controls {
  float: right;
  margin-top: 8px;
  margin-left: 10px; }

.hide {
  display: none; }
