body {
  padding-top: 50px; }

.starter-template {
  padding: 40px 15px;
  text-align: center; }

.init-container {
  display: none;
  text-align: center; }
  .init-container .start-button {
    background-color: #339900;
    color: white;
    border: none;
    font-size: 5em;
    padding: 20px 40px;
    margin-top: 60px; }

.game-container {
  display: none; }
  .game-container .timer-container {
    text-align: center; }
  .game-container .timer {
    font-size: 3em;
    line-height: 1em; }
  .game-container .restart-button {
    margin-top: 20px; }
  .game-container .score-container {
    text-align: center; }
  .game-container .score {
    font-size: 3em;
    line-height: 1em; }
  .game-container .restart-container {
    text-align: center; }

.image-container {
  position: relative; }
  .image-container .overlay-1 {
    position: absolute;
    top: 300px;
    left: 453px;
    width: 60px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.5); }
