$green: #339900;
$white: white;

body {
  padding-top: 50px;

  &.light {
    background-color: yellow;
  }
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.controls {
  float: right;
  margin-top: 8px;
  margin-left: 10px;
}

.hide {
  display: none;
}
