$green: #339900;
$white: white;

body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.init-container {
  text-align: center;

  .start-button {
    background-color: $green;
    color: $white;
    border: none;

    font-size: 5em;
    padding: 20px 40px;
    margin-top: 60px;
  }
}

.game-container {
  .timer-container {
    text-align: center;
  }

  .timer {
    font-size: 3em;
    line-height: 1em;
  }

  .restart-button {
    margin-top: 20px;
  }
}

.background-container {

}
